page-login {
	.scroll-content {
		overflow-y: hidden !important;
	}
	.middle-div{
		bottom: 2%;
	    position: absolute;
	}
	.form_custom {
		width: 100%;
    	text-align: center;
		max-width: inherit;
		color: $text_gray;
	}
	.input_custom .text-input {
    	text-align: center;
		color: $text_gray;
	}
	.texto_custom {
		color: $text_gray;
	}
	#lada {
		border-right: $border_height solid $color_hight_trasn;
		margin: inherit;
		height: 100%;
		padding: 12px 7px 12px 0px;
	}
	.item_custom {
		padding-left: 0px;
	}
	.list_custom > .item-block:first-child {
    	border-top: $border_height solid transparent;
	}
	.list-ios .item-block .item-inner, .list-md .item-block .item-inner {
	 	border-bottom: $border_height solid $color_hight_trasn;
	}
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
	 	border-bottom: $border_height solid $color_hight_trasn;
	}

}
