// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$text-color: #625f5f;



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  orange:	  #e98056,
  gris: 	  #c8c7cc,
  gris_t: 	  #625f5f
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


$searchbar-ios-padding-vertical: 0px;
$searchbar-ios-padding-horizontal: 10px;
$searchbar-ios-background-color: rgba(0, 0, 0, 0);
$searchbar-ios-input-search-icon-color: rgba(128, 126, 126, 0.62);
$searchbar-ios-input-background-color: rgba(183, 182, 182, 0.25);
$searchbar-ios-input-placeholder-color: rgba(183, 182, 182, 0.78);
$searchbar-ios-input-text-color: #6e6e6e;
$searchbar-ios-border-color: #fff;

$toolbar-ios-button-border-radius: 0px;
$toolbar-ios-title-font-weight: 100;
$toolbar-ios-button-strong-font-weight: 100;
$segment-button-ios-background-color: #e98056;
$segment-button-ios-border-width: 0px;
$segment-button-ios-toolbar-button-max-width: 100%;
$segment-button-ios-height: 100%;
$segment-button-ios-toolbar-button-height: 100%;
$segment-button-ios-background-color-activated: #ec642e;
$segment-button-ios-text-color: #fff;

$alert-ios-button-text-color: #e98056;
$alert-ios-radio-label-text-color-checked: #e98056;
$alert-ios-message-text-color: #625f5f;
$alert-ios-radio-label-text-color: #625f5f;
$button-ios-strong-font-weight: 100;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$text-input-md-highlight-color: #e98056;
$searchbar-md-padding-vertical: 0px;
$searchbar-md-padding-horizontal: 10px;
$searchbar-md-background-color: rgba(0, 0, 0, 0);
$searchbar-md-input-search-icon-color: rgba(128, 126, 126, 0.62);
$searchbar-md-input-background-color: rgba(183, 182, 182, 0.25);
$searchbar-md-input-placeholder-color: rgba(183, 182, 182, 0.78);
$searchbar-md-input-text-color: #6e6e6e;
$searchbar-md-border-color: #fff;
$searchbar-md-input-box-shadow: none;

$toolbar-md-button-border-radius: 0px;
$toolbar-md-button-strong-font-weight: 100;
$segment-button-md-background-color: #e98056;
$segment-button-md-border-width: 0px;
$segment-button-md-toolbar-button-max-width: 100%;
$segment-button-md-height: auto;
$segment-button-md-toolbar-button-height: 100%;
$segment-button-md-background-color-activated: #ec642e;
$segment-button-md-text-color: #fff;

$alert-md-button-text-color: #e98056;
$alert-md-radio-label-text-color-checked: #e98056;
$alert-md-message-text-color: #625f5f;
$alert-md-radio-label-text-color: #625f5f;
$button-md-strong-font-weight: 100;
$button-md-outline-border-color: rgba(233, 128, 86, 0.69);




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$backgroun-orange: #e98056;
$backgroun-orange-secondary: rgba(233, 128, 86, 0.69);
$gris: #c8c7cc;
$text-input-highlight-color-valid: #e98056;
$img-placeholder-background: trasnparent;
$text_gray: #625f5f;
$border_height: 1px;
//$color_hight_trasn: rgba(200, 199, 204, 0.45);
$color_hight_trasn: #dedede;

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
