// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-close {
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
}

.b_custom {
	color: $text_gray;
}

.scroll-content {
	overflow-y: hidden !important;
}
.picker-md .picker-button, .picker-md .picker-button.activated, .picker-ios .picker-button, .picker-ios .picker-button.activated{
	color: $backgroun-orange;
}
/*.picker-ios .picker-opt, .picker-ios .picker-opt {
	color: $text_gray;
}*/
.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected {
	color: $backgroun-orange;
}

.focus-outline button:focus, .focus-outline [ion-button]:focus {
	border-color: rgba(233, 128, 86, 0.69);
	outline: 2px solid rgba(233, 128, 86, 0.69);
	-webkit-box-shadow: 0 0 8px 1px rgba(233, 128, 86, 0.69);
	box-shadow: 0 0 8px 1px rgba(233, 128, 86, 0.69);
}
.footer .footer-md {
	height: 50px;
}
.toolbar-md {
    max-height: 60px;
}
